.codigo {
    background-color: black;
    margin-bottom: 20px;
    border-radius: 10px;
}
.codigo p {
    color: white;
    white-space: pre-wrap;
    text-align: left;
}

.codigo-tag {
    width: 100%;
    background-color: rgb(39, 37, 37);
    height: 40px;
    margin: 0;
    white-space: pre-wrap;
    border-radius: 10px;
    color: white;
}

.language {
    margin-top: -40px;
    font-size: 20px;
    font-family: gotham;
    padding-left: 20px;
}

.blue {color: rgb(25, 25, 217);}

.pink {color: rgb(250, 61, 112)}

.gream {color: rgb(53, 187, 53);}

.white {color: white;}