<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/style_global.css">
    <title>Exercícios 9</title>
</head>
<body class="d-flex flex-column justify-content-center align-items-center">
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-underline fixed-top text-uppercase">
        <div class="container">
            <a class="navbar-brand me-4" href="../../view/index.html">
                <img src="../../assets/images/logo_php.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-4">
                        <a class="nav-link " aria-current="page" href="../../view/index.html">Início</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link" href="../../view/projeto.html">Projeto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../view/quemsomos.html">Quem Somos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="exercicio mt-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <a href="../../view/variaveis.html" id="arrow" class="align-self-start fs-2 mt-5">
                    <i class="bi bi-arrow-left m-3"> </i>
                </a>

                <div class="col-5 mt-5 text-center">
                    <h1 class="display-5 mb-5">
                        Programa Calculadora
                    </h1>
                    <div class="line"></div>
                    <p class="text-center text-dark text-center">O programa receberá 03 números que podem ser inteiros ou fracionados, e ira processar
                        a soma dos números digitados, a subtração desses números pelo resultado da soma, a multiplicação
                        dos números digitados pelo resultado da subtração e divisão da multiplicação pela quantidade de
                        números digitados.</p>
                    <form class="btn" action="../../controller/(9)_calculadora.php" method="post">

                        <div class="form-floating mb-3">
                            <input type="number" name="txtvalor1" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Valor 1: </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="txtvalor2" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Valor 2: </label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="txtvalor3" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Valor 3: </label>
                        </div>

                        <input class="btn btn-dark" type="submit" name="submit" value="ENVIAR">

                    </form>
                </div>

            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    
</body>
</html>